<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand"> <span class="glyphicon glyphicon-menu-hamburger"></span></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" role="button"> Manage Case &nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-bottom"></span></a>
			</li>					
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" role="button"><span class="glyphicon glyphicon-bell"><span class="badge alert-badge">3</span></span></a>
			</li>					
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" role="button"><span class="glyphicon glyphicon-envelope"></span><span class="badge mail-badge">12</span></a>
			</li>					
		</ul>
	</div>
</nav> 
