
.mail-badge{
	display: inline-block;
	background-color: blue;
	position: absolute;
	top: 2px;
	right: 1px;
	font-size: 10px;

}

.alert-badge{
	display: inline-block;
	background-color: red;
	position: absolute;
	top: -14px;
	right: -10px;
	font-size: 10px;

}