/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba(143, 190, 220, 0.35);
}
hr { background-color: black; height: 1px; border: 0; }

.bg-white {
  background-color: #fff !important;
  color: #333;
  font-size: 13px;
}