<div layout-align="center center" class="main-div">
<p class=" label bg-white">
  Filter Options
</p>
<hr>
<div>Service Types 
 <select  [(ngModel)]="filteredCases">
    <option *ngFor="let item of caseservices" [ngValue]="item.service">
        {{item.service}}
    </option>
</select>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center key">
			<span><b>Service Type</b> &nbsp;&nbsp; </span>
			<span *ngFor="let item of caseservices">
					<span [ngClass] = "getServiceClasses(item)" id="service-type"><div class="label label-success"></div></span>&nbsp;&nbsp; <span >{{item.name}}</span>
			</span>
		</div>	
	</div>
</div>

<div class="container">
	<div class="row ">
		<div class="col-lg-6 col-lg-offset-3 text-center key"> <b>Status Key </b> &nbsp;&nbsp; 
				    <span class="glyphicon glyphicon-circle-arrow-right" style="color: green">
		                
		            </span> &nbsp;
		            <span class="caption">
		                Completed
		            </span> &nbsp;&nbsp;
		            <span class="glyphicon glyphicon-circle-arrow-down" style="color: blue">
		                
		            </span> &nbsp;
		             <span class="caption">
		                In Progress
		            </span> &nbsp;&nbsp;
		            <span class="glyphicon glyphicon-circle-arrow-up" style="color: red">
		                
		            </span> &nbsp; 
		            <span class="caption">
		                ActionNeeded
		            </span>
		</div>	
	</div>
</div>

<!-- <button class="btn btn-primary" (click) = "onGet()">Get Servers</button> -->

<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1"></div>

		<ul class="list-group-item">
		  <li class="list-group-item" *ngFor="let case of cases | filter: filteredCases:'service'">
		    <span [ngClass] = "getStatusClasses(case)" [ngStyle] = "{color : getStyle(case)}"></span> &nbsp;&nbsp; <span class="color:blue">{{ case.name}} </span>&nbsp;&nbsp; {{'Patient ID: '+ case.patientID}} &nbsp;&nbsp; {{'Date of Birth: '+ case.dob}} &nbsp;&nbsp; {{'Service ID: '+ case.serviceID}} &nbsp;&nbsp; <div id="service" [ngClass] = "getServiceClasses(case)">{{case.service}}</div>
		  </li>
		</ul>
		
	</div>
	
</div>

</div>
