<div layout-align="center center" class="main-div">
<p class=" label bg-white">
  Filter Options
</p>
<hr>
<!-- <div>Service Types 
 <select  [(ngModel)]="filteredCases">
    <option *ngFor="let item of caseservices" [ngValue]="item.service">
        {{item.service}}
    </option>
</select>
</div> -->
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-2 text-center key">
			<span><b>Service Type</b> &nbsp;&nbsp; </span>
			<span *ngFor="let item of caseservices">
					<span [ngClass] = "getServiceClasses(item)" id="service-type"><div class="label label-success"></div></span>&nbsp;&nbsp; <span >{{item.name}}</span>
			</span>
		</div>	
	</div>
</div>

<div class="container">
	<div class="row ">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center key"> <b>Status Key </b> &nbsp;&nbsp; 
				    <span class="glyphicon glyphicon-circle-arrow-right" style="color: green">
		                
		            </span> &nbsp;
		            <span>
		                Completed
		            </span> &nbsp;&nbsp;
		            <span class="glyphicon glyphicon-circle-arrow-down" style="color: blue">
		                
		            </span> &nbsp;
		             <span>
		                In Progress
		            </span> &nbsp;&nbsp;
		            <span class="glyphicon glyphicon-circle-arrow-up" style="color: red">
		                
		            </span> &nbsp; 
		            <span>
		                ActionNeeded
		            </span>
		</div>	
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

		<ul class="list-group-item clearfix">
		  <li class="list-group-item" *ngFor="let case of cases | filter: filteredCases:'service'  | paginate: { id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalRec }">
		    <span [ngClass] = "getStatusClasses(case)" [ngStyle] = "{color : getStyle(case)}"></span> &nbsp;&nbsp; <span class="case-name">{{ case.name}} </span>&nbsp;&nbsp; {{'Patient ID: '+ case.patientID}} &nbsp;&nbsp; {{'Date of Birth: '+ case.dob}} &nbsp;&nbsp; {{'Service ID: '+ case.serviceID}} <div id="service" class="pull-right" [ngClass] = "getServiceClasses(case)">{{case.service}}</div>
		  </li>
		</ul>
	 </div>
	</div>	
</div>

	 <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 ">
	 	<pagination-controls  id="listing_pagination" maxSize="10" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
	 </div>

</div>
