
<h4>Cases</h4>
<p class=" label bg-white">
  Completed Cases over the past 7 days!
</p>
<hr>
<!-- <div class="grid grid-pad">
  <a *ngFor="let item of dashboardItems" class="col-1-4">
    <div class="module">
	    <span class="dashboard-item" >{{item.name}}</span> 
		<span class="dashboard-id">{{item.id}}</span>

    </div>
  </a>
</div> -->
<div class="container">
<div class="row clearfix">
	<div *ngFor="let item of dashboardItems" class="col-1-4">
		<div class="info-box">
            <div class="content">
                <div class="text">{{item.name}}</div>
            </div>

       
            <div class="icon">
                <i class="material-icons">{{item.id}}</i>
            </div>
		</div>
	</div>
</div>
</div>

<p class=" label bg-white">
  Current Cases
</p>
<hr>
<!-- <span layout="row"><hr flex/>or<hr flex/></span> -->
